    <%= turbo_frame_tag "todo_#{todo.id}" do %>
      <div class="todo">
        <div class="todo__header">
            <%= link_to todo.name, todo_path(todo),data: { turbo_frame: "_top" }, class: "todo__name" %>
          <div class="todo__author-cancel-group">
            <div class="todo__author"><%= todo.author %></div>
            <%= link_to todo_path(todo), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <div class="todo__cancel">
                <%= mi.cancel  %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="todo__footer">
          <%= link_to "Edit", edit_todo_path(todo),  :class => "link__button" %>
        </div>
      </div>
    <% end %>