<main class="container">
  <div class="integrations__title">
    <div>Integrations </div>
    <div class="integrations__info-icon"><%= material_icon.shape(:info).outlined.md_36 %> </div>
  </div>
  <div class="integrations__section">
    <div class="integrations__subsection">
      <div class="integrations__section__header">
        <div><%= material_icon.shape(:keyboard_arrow_down).md_36 %> </div>
        <div class="integrations__section__title">Configured Integrations</div>
        <div class=> (##) </div>
      </div>
      <div class="integration___cards__container">
        <div class="integration__card">
          <div class="integration__card__header">
            <div><%= image_tag("logo.png", width: 48) %></div>
            <div class="integration__card__header__status">
              <span class='status-icon'> <%= material_icon.shape(:circle).md_18 %> </span>
              <span class="integration__card__status"> active </span>
            </div>
          </div>
          <div class="integration__card__company-name"> Atera </div>
          <div class="integration__card__company-description"> # connections </div>
        </div>
        <div class="integration__card">
          <div class="integration__card__header">
            <div><%= image_tag("logo.png", width: 48) %></div>
            <div class="integration__card__header__status">
              <span class='status-icon'> <%= material_icon.shape(:circle).md_18 %> </span>
              <span class="integration__card__status"> active </span>
            </div>
          </div>
          <div class="integration__card__company-name"> AutoTask </div>
          <div class="integration__card__company-description"> # connections </div>
        </div>
        <div class="integration__card">
          <div class="integration__card__header">
            <div><%= image_tag("logo.png", width: 48) %></div>
            <div class="integration__card__header__status">
              <span class='status-icon'> <%= material_icon.shape(:circle).md_18 %> </span>
              <span class="integration__card__status"> active </span>
            </div>
          </div>
          <div class="integration__card__company-name"> Auvik </div>
          <div class="integration__card__company-description"> # connections </div>
        </div>
      </div>
    </div>
    <div class="integrations__section">
      <div class="integrations__section__header">
        <div><%= material_icon.shape(:keyboard_arrow_down).md_36 %> </div>
        <div class="integrations__section__title">Available Integrations</div>
        <div class=> (##) </div>
      </div>
      <div class="integrations__subsection">
        <div class="integrations__subsection__title"> Productivity </div>
        <div class="integrations__subsection__description"> All available productivity integrations are currently active </div>
      </div>
      <div class="integrations__subsection">
        <div class="integrations__subsection__title"> PSA and RMM </div>
        <div class="integration___cards__container">
          <div class="integration__card integration__card__available">
            <div class="integration__card__header">
              <div><%= image_tag("logo.png", width: 48) %></div>
              <div class="integration__card__header__status">
                <span class="integration__card__connection__link"> Connect </span>
              </div>
            </div>
            <div class="integration__card__company-name"> ConnectWise </div>
            <div class="integration__card__company-description"> Pull companies, configurations, agreement, & contacts from ConnectWise </div>
          </div>
        </div>
      </div>
      <div class="integrations__subsection">
        <div class="integrations__subsection__title"> Monitoring </div>
        <div class="integration___cards__container">
          <div class="integration__card integration__card__available">
            <div class="integration__card__header">
              <div><%= image_tag("logo.png", width: 48) %></div>
              <div class="integration__card__header__status">
                <span class="integration__card__connection__link"> Connect </span>
              </div>
            </div>
            <div class="integration__card__company-name"> Auvik </div>
            <div class="integration__card__company-description"> Pull devices from Auvik </div>
          </div>
          <div class="integration__card integration__card__available">
            <div class="integration__card__header">
              <div><%= image_tag("logo.png", width: 48) %></div>
              <div class="integration__card__header__status">
                <span class="integration__card__connection__link"> Connect </span>
              </div>
            </div>
            <div class="integration__card__company-name"> Domotz </div>
            <div class="integration__card__company-description"> Pull agents and devices from Domotz </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</main>